---
layout: base-layout.njk
img: hp-visualiser.png
pagetitle: Visualiser les chats
pagedesc: bonjour les amis.
linkFeed: true
---

<div id="intro">
  <div>
    <h1>test</h1>
    <p>La recherche est un métier de passion !</p>
  </div>
  {% image "./images/test.jpg", "le chat", "580w", 580, false %}
</div>

<!--<div id="Join"><h2>Pour un quotidien heureux en thèse.</h2><div>Lisez ce site !</div></div>
<div id="ImageBanner" aria-label="people sitting down near table with assorted laptop computers"></div>-->